app:
  # [Required] Application RPC service port number (eg: "8080")
  # [必填] 应用RPC服务端口号(如："8080")
  rpc-port: "8080"
  # [Required] Application HTTP service port number (eg: "8081")
  # [必填] 应用HTTP服务端口号(如："8081")
  http-port: "8081"
  # [Optional] Encrypted salt, leave it blank to generate automatically, Microservices communicating with each other should be consistent
  # [可选]加密盐，留空则自动生成，相互通讯的微服务应保持一致
  key:
  # [Required] Whether to enable the database function, if you have installed postgresql, please fill in true, otherwise fill in false, the default is false
  # [必填] 是否开启数据库功能，如果您安装了postgresql等，请填写true，否则填写false，默认为false
  enable-database: false
  # [Required] Whether to enable the cache function, if you have installed redis, please fill in true, otherwise fill in false, The default is false
  # [必填] 是否开启缓存功能，如果你安装了redis等，请填写true，否则填写false，默认为false
  enable-cache: false
  # [Required] Whether to enable the service discovery function, if you have installed consul, please fill in true, otherwise fill in false, The default is false
  # [必填] 是否开启服务发现功能，如果你安装了consul等，请填写true，否则填写false，默认为false
  enable-service-discovery: false
  # token expiration time(second), The default is 86400
  # token过期时间(秒)，默认为86400
  token-expiration-time: 86400
  # [Required] Whether to use the http status code as the code field in the api (true/false), the default is false
  # [必填] 是否使用http状态码作为api中的code字段(true/false)，默认为false
  use-http-code: false
  # [Required] The timeout period for communicating with other microservices, in milliseconds, the default is 1000
  # [必填] 与其他微服务通讯的超时时间，单位毫秒，默认为1000
  communication-timeout: 1000

log:
  # [Required] The lowest level of logging (panic/fatal/error/warning/info/debug/trace), the default is info
  # [必填] 记录日志的最低等级(panic/fatal/error/warning/info/debug/trace)，默认为info
  level: info
  # [Required] The following is the output format of different log levels (1/2/3), 1 is only output in the log file, 2 is only output in the console, 3 is both output in the console and output in the log file, default Is 3
  # [必填] 下方为不同日志等级输出格式(1/2/3)，1为仅在日志文件输出，2为仅在控制台输出，3为既在控制台输出也在日志文件输出，默认为3
  panic: 3
  fatal: 3
  error: 3
  warning: 3
  info: 1
  debug: 1
  trace: 1

# [If app.database is enabled, this field is required]
# [若启用app.database，则该字段必填]
database:
  # [Required] Database address (eg: "localhost")
  # [必填] 数据库地址(如：localhost)
  host: localhost
  # [Required] Database port (e.g. "5432")
  # [必填] 数据库端口(如："5432")
  port: "5432"
  # [Required] Database name (eg: your-database-name)
  # [必填] 数据库名(如：your-database-name)
  name: your-database-name
  # [Required] Database user name (eg: your-database-user)
  # [必填] 数据库用户名(如：your-database-user)
  user: your-database-user
  # [Required] Database password (e.g. your-database-password)
  # [必填] 数据库密码(如：your-database-password)
  password: your-database-password
  # [Required] Database table prefix (eg: prefix_)
  # [必填] 数据库表前缀(如：prefix_)
  prefix: prefix_
  # [Required] The time zone the application belongs to, the default is Asia/Shanghai
  # [必填] 应用所属时区，默认为Asia/Shanghai
  time-zone: Asia/Shanghai

# [If app.service-discovery is enabled, this field is required]
# [若启用app.service-discovery，则该字段必填]
service-discovery:
  # [Required] Service discovery server address (eg: localhost:8500)
  # [必填] 服务发现服务器地址(如：localhost:8500)
  address: localhost:8500
  service:
    rpc:
      # [Required] RPC Service id (eg: AuthRpcService-1)
      # [必填] RPC服务id(如：AuthRpcService-1)
      id: ExampleRpcService-1
      # [Required] RPC Service name (eg: AuthRpcService)
      # [必填] RPC服务名称(如：AuthRpcService)
      name: ExampleRpcService
      # [Required] RPC Service tag (eg: ["primary"]
      # [必填] RPC服务标签(如：["primary"])
      tag: []
    http:
      # [Required] HTTP Service id (eg: AuthHTTPService-1)
      # [必填] HTTP服务id(如：AuthHTTPService-1)
      id: ExampleHTTPService-1
      # [Required] HTTP Service name (eg: AuthHttpService)
      # [必填] HTTP服务名称(如：AuthHttpService)
      name: ExampleHttpService
      # [Required] HTTP Service tag (eg: ["primary"]
      # [必填] HTTP服务标签(如：["primary"])
      tag: []
    # [Required] Service name prefix, used to distinguish different items (eg: "em-")
    # [必填] 服务名称前缀，用于区分不同项目(如："em-")
    prefix: "em-"
    # [Required] Local IP address (eg: 192.168.1.100)
    # [必填] 本机IP地址(如：192.168.1.100)
    address: 192.168.1.100
    # [Required] Node health check interval (eg: 60s)
    # [必填] 节点健康检查时间间隔(如：60s)
    check-interval: "60s"
    # [Required] Node health check path (eg: /health)
    # [必填] 节点健康检查路径(如：/health)
    check-url: "/health"

# [If app.cache is enabled, this field is required]
# [若启用app.cache，则该字段必填]
cache:
  # [Required] Cache server address (eg: localhost:6379)
  # [必填] 缓存服务器地址(如：localhost:6379)
  address: localhost:6379
  # [Required] Cache server password (eg: "123456")
  # [必填] 缓存服务器密码(如："123456")
  password: "123456"
  # [Required] Cache server DB (such as: 1)
  # [必填] 缓存服务器DB(如：1)
  db: 1

# [If app.captcha is enabled, this field is required]
# [若启用app.captcha，则该字段必填]
captcha:
  # [Required] Captcha Server Address (eg: www.google.com / www.recaptcha.net)
  # [必填] 验证码服务器地址
  host: "www.google.com"
  # [Required] Captcha secret
  # [必填] 验证码密钥
  secret: "captcha-key"
  # [Required] Request timeout (eg: 10s)
  # [必填] 请求超时时间
  timeout: 10s
